* {
  padding: 0;
  margin: 0;
  background: #111111;
  color: white;
  text-align: center;
}

.App {
  text-align: center;
}

.main-content {
  
  margin: 20px 25% 20px 25%;
}

.task-container {
  padding: 10px 0px 0px 0px;
  display: flex;
  padding: 10px 10px 20px 20%;
  border-bottom: 1px solid white;
  background: #1f1f1f;
}

.task-container input[type=checkbox]{
  margin-right: 10px;
  
}

.task-container span{
  background: #1f1f1f;
}

.header-container {
  padding: 10px;
  color: #fff;
  text-align: center;
}

.form-container input[type="text"] {
  border: 5px dashed #fff;
  height: 50px;
  background: #1f1f1f;
  color: #fff;
  font-size: large;
}

.form-container input[type="submit"] {
  border: 5px dashed #fff;
  background: #1f1f1f;
  margin-left: 10px;
  height: 60px;
  width: 100px;
  color: #fff;
}
