* {
  margin: 0;
  padding: 0;
  font-family: "lato", sans-serif;
}

.App {
  height: 100vh;
}

.header-container {
  background: #e50914;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.body-container {
  top: 20px;
}

.content-container {
  display: flex;
}

.project-container {
  background: #131c25;
  color: #fff;
  flex: 1;
  height: 100vh;
  text-align: center;
}

.project-list-container {
  padding: 10px;
  list-style: none;
}

.project-list-container li {
  margin: 10px 20px 5px 10px;
  font-size: large;
  cursor: pointer;
  text-align: start;
  transition: 0.3s;
  font-family: "lato", sans-serif;
}

.project-list-container li:hover {
  background: rgb(19, 28, 37);
  border-bottom: 1px dotted #fff;
}

.task-container {
  flex: 3;
  text-align: center;
}

.add-task-button {
  border: none;
  padding: 10px;
  font-size: large;
  margin: 10px;
  background: #131c25;
  color: #fff;
  border-radius: 20px;
  width: 200px;
}

.add-task-button:hover {
  background: rgba(19, 28, 37, 0.8);
}

.add-project-form {
  padding: 10px;
}


.add-project-button {
  width: 40px;
  border: none;
  padding: 5px;
  border-radius: 10px;
  margin-left: 5px;
}

.add-project-button:hover {
  background: blue;
  color: white;
}

.nav-link {
  margin-right: 10px;
 
}

.header-title {
  color: #131c25;
  text-decoration: none;
  padding: 10px;
  color: #131c25;
}

.links:hover {
  border-bottom: 1px solid #000;
  transition: ease-in-out;
  color: #fff;
}

.nav-button {
  border: none;
  border-radius: 20px;
  height: 40px;

  padding: 0px 10px;
  margin-right: 20px;
  background: #131c25;
  color: #fff;
}

.nav-button:hover {
  background: rgba(19, 28, 37, 0.8);
}


.about-container { 
  padding: 10px;
}

.about-contents {
  margin: 10px;
}

.learned-list {
  margin-left: 20px;
}