* {
  margin: 0;
  padding: 0;
  font-family: "lato", sans-serif;
}

.App {
  height: 100vh;
}

.header-container {
  background: #e50914;
  padding: 10px;
}

.content-container {
  display: flex;
}

.project-container {
  background: #131c25;
  color: #fff;
  flex: 1;
  height: 100vh;
  text-align: center;
  
}

.project-list-container {
  padding: 10px;
  list-style: none;

}

.project-list-container li {
  margin-top: 10px;
  cursor: pointer;
}

.task-container {
  flex: 3;
  text-align: center;
}

.footer-container {
  background: black;
  color: white;
}

.add-task-button {
  border: none;
  padding: 10px;
  font-size: large;
  margin: 10px;
  background: #131c25;
  color: #fff;
  border-radius: 20px;
  width: 200px;
}

.add-task-button:hover {
  background: rgba(19, 28, 37, 0.8);
}

.add-project-form {
  padding: 10px;
}

.add-project-button {
  width: 40px;
  border: none;
  padding: 5px;
  border-radius: 10px;
  margin-left: 5px;
}

.add-project-button:hover {
  background: blue;
  color: white;
}